<%- include('partials/header.ejs') %>

  <div class="container">
    <h2 style="text-align: center;">Edit Game</h2>
    <form action="/edit-game/<%= game.game_id %>" method="post" enctype="multipart/form-data">
      <label for="title">Title:</label>
      <input type="text" id="title" name="title" value="<%= game.title %>" required>

      <!-- Genre -->
      <label for="genre">Genre:</label>
      <input type="text" id="genre" name="genre" value="<%= game.genre %>" required>

      <!-- Description -->
      <label for="description">Description:</label>
      <textarea id="description" name="description" rows="4" required><%= game.description %></textarea>

      <!-- minimum number of players -->
      <label for="minPlayers">Minimum Players:</label>
      <input type="number" id="minPlayers" name="minPlayers" value="<%= game.min_players %>" required>

       <!-- maximum number of players -->
      <label for="maxPlayers">Maximum Players:</label>
      <input type="number" id="maxPlayers" name="maxPlayers" value="<%= game.max_players %>" required>

      <!-- Rating -->
      <label for="rating">Rating:</label>
      <input type="number" step="0.1" min="0" max="5" id="rating" name="rating" value="<%= game.rating %>" required>
 
      <!-- Difficulty Level -->
      <label for="difficulty_level">Difficulty Level:</label>
      <select id="difficulty_level" name="difficulty_level" required>
        <option value="Easy" <%= game.difficulty_level === 'Easy' ? 'selected' : '' %>>Easy</option>
        <option value="Medium" <%= game.difficulty_level === 'Medium' ? 'selected' : '' %>>Medium</option>
        <option value="Hard" <%= game.difficulty_level === 'Hard' ? 'selected' : '' %>>Hard</option>
      </select>
 
      <!-- GIF Upload -->
    <label for="gif">Upload New GIF(optional):</label>
    <input type="file" id="gif" name="gif" accept="image/gif">

      <button type="submit">Save Changes</button>
    </form>
  </div>

  <%- include('partials/footer.ejs') %>

  